$color-1: #ffe1d1;
$color-2: #ffdbca;

// :root {
//     /* BASE COLORS */
//     --color-1:  #ffe1d1;
//     --color-2: #ffdbca;
// }

body {
  font-family: Alegreya, serif;
  overflow-x: hidden;
  // background: linear-gradient(to left, $color-1, $color-2);
}

.header {
  //setting up first grid. 
  display: grid;
  grid-template-columns: 20% 1fr;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
}
.header-logo{
  align-self: center;
  justify-self: center;
}
.header-letter{
  font-size:30px;
  color:#6a4a39;

}

.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.7;
  list-style: none;
  &-item {
    margin:0 47px;
  }
}

.menu-item:last-of-type{
  color: #ff7676;
  border-bottom:4px solid #f8d1be;
}


// hero

.container{
  max-width: 1500px;
}

.hero_container{
  position: relative;
  min-width: 550px;
  display: grid;
  grid-template-areas:
  "lamp title sun sun"
  "lamp title sun sun"
  ;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,minmax(0px,auto));
  border-bottom:1px solid #ff8989 ;

}

.lamp{
  grid-area: lamp;
  height: auto;
  justify-self: end;
  align-self:end ;
}